@model hotelreservation.Models.tbl_room

@{
    ViewBag.Title = "detailsroom";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>detailsroom</h2>

<div>
    <h4>tbl_room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.no_of_room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_of_room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_roomtype.room_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_roomtype.room_type)
        </dd>

        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "editroom", new { id = Model.room_id }) |
    @Html.ActionLink("Back to List", "viewroom")
</p>
