@model hotelreservation.Models.tbl_reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.arrival_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departure_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departure_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_of_adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_of_adult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_customer.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_customer.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_room.no_of_room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_room.no_of_room)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
