<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href=@Url.Content("/Content/img/favicon.ico") rel="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href=@Url.Content("/Content/lib/flaticon/font/flaticon.css") rel="stylesheet">
    <link href=@Url.Content("/Content/css/newstyle.css") rel="stylesheet" />
    <!-- Libraries Stylesheet -->
    <link href=@Url.Content("/Content/lib/owlcarousel/assets/owl.carousel.min.css") rel="stylesheet">
    <link href=@Url.Content("/Content/lib/lightbox/css/lightbox.min.css") rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href=@Url.Content("/Content/css/style.css") rel="stylesheet">



    <!--<link href=@Url.Content("~/Content/css/css/core.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/css/css/custom.css") rel="stylesheet" />-->







    @*css of new template*@
    <!--<link href=@Url.Content("~/Content/css/style.min.css") rel="stylesheet" />
        <link href=@Url.Content("~/Content/css/styles-merged.css" )rel="stylesheet" />-->


    @*new template css ended*@

    <title>@ViewBag.Title - Hotel Reservation System</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <!-- Topbar Start -->
    <div class="container-fluid bg-dark py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white pr-3" href="">FAQs</a>
                        <span class="text-white">|</span>
                        <a class="text-white px-3" href="">Help</a>
                        <span class="text-white">|</span>
                        <a class="text-white pl-3" href="">Support</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-white px-3" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-white pl-3" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container position-relative" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 display-5 text-white"><span class="text-primary"></span>HOTEL</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href=@Url.Content("/Customer/Home/") class="nav-item nav-link active">Home</a>
                        <a href=@Url.Content("/Customer/cust_viewroom/") class="nav-item nav-link">Rooms</a>
                        @*<a href=@Url.Content("/Customer/cust_viewreservation/") class="nav-item nav-link">Reservations</a>*@
                        <a href="@Url.Action("cust_viewreservation", "Customer", new { id = Session["cust_id"] })" class="nav-item nav-link">Reservations</a>
                        @*<div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="blog.html" class="dropdown-item">Blog Grid</a>
                                <a href="single.html" class="dropdown-item">Blog Detail</a>
                            </div>
                        </div>*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="" class="nav-item nav-link">Welcome - @User.Identity.Name.ToString()</a>
                            <a href=@Url.Content("/Account/Logout/") class="nav-item nav-link">Logout</a>
                            <a>@Session["cust_fname"]</a>
                            <a>@Session["cust_id"]</a>
                        }
                        else
                        {
                            <a href=@Url.Content("/Account/Signup/") class="nav-item nav-link">Sign-up</a>
                            <a href=@Url.Content("/Account/Login/") class="nav-item nav-link">Login</a>
                        }


                    </div>
                </div>
                
            </nav>
        </div>

    </div>
    <!-- Navbar End -->
    @*slider new*@


    @RenderBody()









    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-md-5">

        <div class="container border-top border-secondary pt-5">
            <p class="m-0 text-center text-white">
                &copy; <a class="text-white font-weight-bold" href="#">@DateTime.Now.Year</a>. All Rights Reserved. Designed by
                <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
    </div>
    <!-- Footer End -->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src=@Url.Content("/Content/lib/easing/easing.min.js")></script>
    <script src=@Url.Content("/Content/lib/owlcarousel/owl.carousel.min.js")></script>
    <script src=@Url.Content("/Content/lib/isotope/isotope.pkgd.min.js")></script>
    <script src=@Url.Content("/Content/lib/lightbox/js/lightbox.min.js")></script>

    <!-- Contact Javascript File -->
    <script src=@Url.Content("/Content/mail/jqBootstrapValidation.min.js")></script>
    <script src=@Url.Content("/Content/mail/contact.js")></script>

    <!-- Template Javascript -->
    <script src=@Url.Content("/Content/js/main.js")></script>



</body>
</html>
