@model hotelreservation.Models.tbl_roomtype

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_roomtype</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomtype_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
